extends base.pug

block content 
    div.hidden#shareContainer
        div.share__header
            span Share
            i.fas.fa-times
        div.share__icons
            div.share__icons-kakao.share__icon
                img(src="https://play-lh.googleusercontent.com/Ob9Ys8yKMeyKzZvl3cB9JNSTui1lJwjSKD60IVYnlvU2DsahysGENJE-txiRIW9_72Vd", crossorigin)
                span kakaoTalk
        div.share__link
            input(type="text" disabled)
            button.share__link-copy COPY

    div#videoContainer(data-videoid=video._id)
        if video.fileUrl.split("/")[0] === "uploads"
            video(src="/" + video.fileUrl, crossorigin)
        else 
            video(src=video.fileUrl, crossorigin)
        div#videoControls.videoControls
            div.progressBar
                div.progress
            div.videoControls__bottom
                div.videoControls__play
                    span#play.videoControls__playBtn
                        i.fas.fa-play 
                    div.videoControls__time
                        span#currenTime 00:00
                        span  / 
                        span#totalTime 00:00
                div.videoControls__right
                    div.videoControls__volume
                        input(type="range",step="0.1",value=0.5 ,min="0", max="1")#volume
                        span#mute 
                            i.fas.fa-volume-up 
                    div.fullScreen
                        span#fullScreen
                            i.fas.fa-expand

    div.top__box
        div.top__box-hashtags=String(video.hashtags).replace(/,/g," ")
        div.top__box-title=video.title
    div.middle__box
        div.like Like
            if video.meta.likes.find((id) => id !== String(loggedInUser._id))
                i.fas.fa-thumbs-up 
            else 
                i.far.fa-thumbs-up
            span.likeNum=video.meta.likes.length
        div.share__box
            div.share Share 
                i.fas.fa-share
    hr.middle__hr
    div.owner
        div.owner__avatar
            a(href=`/users/${video.owner._id}`)
                if !video.owner.avatarUrl
                    span 😎
                else
                    if video.owner.avatarUrl.split("/")[0] === "uploads"
                        img(src="/" + video.owner.avatarUrl, crossorigin)
                    else
                        img(src=video.owner.avatarUrl, crossorigin)
        div.owner__info
            div.owner__info-username
                a(href=`/users/${video.owner._id}`)=video.owner.username
            div.owner__info-subNum
        div.owner__subscription(data-userid=video.owner._id)
            if String(video.owner._id) === String(loggedInUser._id)
                span Video Owner
            else
                if loggedIn
                    if user.sub.subscribing.find((id) => id !== String(video.owner._id))
                        button.owner__subscription-after-btn Subscribing
                        i.far.fa-bell
                    else 
                        button.owner__subscription-btn Subscribe
                else 
                    button.owner__subscription-btn Subscribe

    hr.middle__hr
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment..")
                button Add Comment
            if String(video.owner._id) === String(loggedInUser._id)
                div.video__delete
                    a(href=`/videos/${video._id}/delete`) Delete Video
    
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    div.userIcon
                        a(href=`/users/${comment.owner._id}`)
                            if !comment.owner.avatarUrl
                                span 😎
                            else
                                if comment.owner.avatarUrl.split("/")[0] === "uploads"
                                    img(src="/" + comment.owner.avatarUrl, crossorigin)
                                else
                                    img(src=comment.owner.avatarUrl, crossorigin)
                    div.video__comment-content
                        div.video__comment-username
                            a(href=`/users/${comment.owner._id}`)
                                sapn=comment.owner.username
                        div.video__comment-text
                            span #{comment.text}
                        div.video__comment-controls
                            div.comment-like 
                                if comment.meta.likes.find((id) => id !== String(loggedInUser._id))
                                    i.fas.fa-thumbs-up 
                                else
                                    i.far.fa-thumbs-up
                                span.comment-likeNum=comment.meta.likes.length
                            if (String(loggedInUser._id) === String(comment.owner._id))
                                div.editBtn Edit
                                div.removeBtn  ❌
                                
    
                    
//-
    div
        p=video.description
        small=video.createdAt
    div 
        small Uploaded By 
            a(href=`/users/${video.owner._id}`)=video.owner.name
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
    script(src="/assets/js/videoPlayer.js")
    script(src="/assets/js/kakaoJsSDK.js") 
    script(src="/assets/js/videoShare.js") 
    if loggedIn 
        script(src="/assets/js/commentSection.js")
        script(src="/assets/js/videoSection.js")